{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    Exchange
{% endblock %}
{% block container %}
    <div class="col-lg-6 col-lg-offset-3">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}